<div class="example-container mat-elevation-z8">
  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="receiptYear">
        <th mat-header-cell *matHeaderCellDef> Год набора </th>
        <td mat-cell *matCellDef="let element"> {{element.receiptYear}} </td>
      </ng-container>

      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef> Курс </th>
        <td mat-cell *matCellDef="let element"> {{element.course}} </td>
      </ng-container>

      <ng-container matColumnDef="numberStudents">
        <th mat-header-cell *matHeaderCellDef> Численность </th>
        <td mat-cell *matCellDef="let element"> {{element.numberStudents}} </td>
      </ng-container>

      <ng-container matColumnDef="numberSubGroups">
        <th mat-header-cell *matHeaderCellDef> Кол-во подгрупп </th>
        <td mat-cell *matCellDef="let element"> {{element.numberSubGroups}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
