.example-table-container {
  position: relative;
  max-height: 600px;
  overflow: auto;
}

.example-container {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;

  position: relative;
  min-height: 200px;
}

table {
  width: 100%;
}

mat-paginator {
  width: 80%;
  margin-left: 10%;
}

th.mat-header-cell {
  padding: 5px;
}

td.mat-cell {
  padding: 5px;
}
