<div class="my-filter">
  <div class="row">
    <mat-form-field style="width: 25%">
      <mat-label>Преподаватель</mat-label>
      <mat-select [(ngModel)]="selectedTeacher">
        <mat-option *ngFor="let item of teachers" [value]="item">
          {{item.fullName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="margin: 5px; width: 25%">
      <mat-label>Семестр</mat-label>
      <mat-select [(ngModel)]="selectedSemestr">
        <mat-option *ngFor="let item of semestrs" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <button class="bss-button" mat-raised-button (click)="search()">Поиск</button>
    <button class="bss-button" mat-raised-button (click)="reset()">Сброс</button>
    <button class="bss-button" mat-raised-button (click)="openDialog()">Добавить запись</button>
  </div>
</div>

<div class="example-container mat-elevation-z8">
  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="teacher">
        <th mat-header-cell *matHeaderCellDef> Преподаватель </th>
        <td mat-cell *matCellDef="let element"> {{element.teacher}} </td>
      </ng-container>

      <ng-container matColumnDef="classroomWorkload">
        <th mat-header-cell *matHeaderCellDef> Аудиторная дисциплина </th>
        <td mat-cell *matCellDef="let element"> {{element.classroomWorkload}} </td>
      </ng-container>

      <ng-container matColumnDef="hours">
        <th mat-header-cell *matHeaderCellDef> Кол-во часов </th>
        <td mat-cell *matCellDef="let element"> {{element.hours}} </td>
      </ng-container>

      <ng-container matColumnDef="typeLoad">
        <th mat-header-cell *matHeaderCellDef> Тип нагрузки </th>
        <td mat-cell *matCellDef="let element"> {{element.typeLoad}} </td>
      </ng-container>

      <ng-container matColumnDef="semestr">
        <th mat-header-cell *matHeaderCellDef> Семестр </th>
        <td mat-cell *matCellDef="let element"> {{element.semestr}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
<div style="margin-left: 10%">
  <mat-label>Всего часов: </mat-label>
  <input matInput [ngModel]="totalHours">
</div>
