<h2>Добавление записи</h2>
<div class="container">
  <div class="row">
    <div>
      <mat-form-field style="width: 100%">
        <mat-label>Преподаватель</mat-label>
        <mat-select [(ngModel)]="selectedTeacher">
          <mat-option *ngFor="let item of teachers" [value]="item">
            {{item.fullName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <mat-form-field style="width: 100%; margin-top: 5px">
      <mat-label>Наименование дисциплины</mat-label>
      <mat-select
        (selectionChange)="classroomWorkloadOrTypeLoadChange()"
        [formControl]="classroomWorkloadControl"
        [(ngModel)]="selectedValueClassroomWorkload">
        <mat-option *ngFor="let item of classroomWorkload" [value]="item">
          {{item.nameOfDisciplines}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field style="width: 75%; margin-top: 5px">
      <mat-label>Тип нагрузки</mat-label>
      <mat-select
        (selectionChange)="classroomWorkloadOrTypeLoadChange()"
        [formControl]="typeLoadControl"
        [(ngModel)]="selectedValueTypeLoad">
        <mat-option *ngFor="let item of typeLoad" [value]="item">
          {{item.nameTypeLoad}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 25%; margin-top: 5px">
      <mat-label>Кол-во часов</mat-label>
      <mat-select [(ngModel)]="selectedHour">
        <mat-option [value]="hours">
          {{hours}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field style="width: 50%; margin-top: 5px">
      <mat-label>Семестр</mat-label>
      <mat-select [(ngModel)]="selectedSemestr">
        <mat-option *ngFor="let item of semestr" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <button (click)="add()" mat-raised-button>Добавить</button>
  </div>
</div>
