<div class="example-container mat-elevation-z8">
  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="curriculumDesignation">
        <th mat-header-cell *matHeaderCellDef> Обозначение учебного плана </th>
        <td mat-cell *matCellDef="let element"> {{element.curriculumDesignation}} </td>
      </ng-container>

      <ng-container matColumnDef="profileProgramSpecializationFocus">
        <th mat-header-cell *matHeaderCellDef> Профиль, программа, специализация, направленность </th>
        <td mat-cell *matCellDef="let element"> {{element.profileProgramSpecializationFocus}} </td>
      </ng-container>

      <ng-container matColumnDef="emptyColumn">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> {{element.emptyColumn}} </td>
      </ng-container>

      <ng-container matColumnDef="nameOfDisciplines">
        <th mat-header-cell *matHeaderCellDef> Наименование дисциплин </th>
        <td mat-cell *matCellDef="let element"> {{element.nameOfDisciplines}} </td>
      </ng-container>

      <ng-container matColumnDef="kindOfDisciplines">
        <th mat-header-cell *matHeaderCellDef> Вид дисциплины </th>
        <td mat-cell *matCellDef="let element"> {{element.kindOfDisciplines}} </td>
      </ng-container>

      <ng-container matColumnDef="laborInput">
        <th mat-header-cell *matHeaderCellDef> Трудоемкость </th>
        <td mat-cell *matCellDef="let element"> {{element.laborInput}} </td>
      </ng-container>

      <ng-container matColumnDef="independentWork">
        <th mat-header-cell *matHeaderCellDef> Самостоятельная работа </th>
        <td mat-cell *matCellDef="let element"> {{element.independentWork}} </td>
      </ng-container>

      <ng-container matColumnDef="auditorsHours">
        <th mat-header-cell *matHeaderCellDef> Всего часов аудиторных </th>
        <td mat-cell *matCellDef="let element"> {{element.auditorsHours}} </td>
      </ng-container>

      <ng-container matColumnDef="zet">
        <th mat-header-cell *matHeaderCellDef> ЗЕТ </th>
        <td mat-cell *matCellDef="let element"> {{element.zet}} </td>
      </ng-container>

      <ng-container matColumnDef="lectures">
        <th mat-header-cell *matHeaderCellDef> Лекции </th>
        <td mat-cell *matCellDef="let element"> {{element.lectures}} </td>
      </ng-container>

      <ng-container matColumnDef="practice">
        <th mat-header-cell *matHeaderCellDef> Практические </th>
        <td mat-cell *matCellDef="let element"> {{element.practice}} </td>
      </ng-container>

      <ng-container matColumnDef="laboratoryLessons">
        <th mat-header-cell *matHeaderCellDef> Лабораторные </th>
        <td mat-cell *matCellDef="let element"> {{element.laboratoryLessons}} </td>
      </ng-container>

      <ng-container matColumnDef="semestr">
        <th mat-header-cell *matHeaderCellDef> Семестр </th>
        <td mat-cell *matCellDef="let element"> {{element.semestr}} </td>
      </ng-container>

      <ng-container matColumnDef="offset">
        <th mat-header-cell *matHeaderCellDef> Зачеты/промежуточные аттестации </th>
        <td mat-cell *matCellDef="let element"> {{element.offset}} </td>
      </ng-container>

      <ng-container matColumnDef="exam">
        <th mat-header-cell *matHeaderCellDef> Экзамены </th>
        <td mat-cell *matCellDef="let element"> {{element.exam}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
