<div class="example-container mat-elevation-z8">

  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="teacher">
        <th mat-header-cell *matHeaderCellDef> Преподаватель </th>
        <td mat-cell *matCellDef="let element"> {{element.teacherName}} </td>
      </ng-container>

      <ng-container matColumnDef="classroomWorkload">
        <th mat-header-cell *matHeaderCellDef> Аудиторная дисциплина </th>
        <td mat-cell *matCellDef="let element"> {{element.classroomWorkloadName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
