<div class="example-container mat-elevation-z8">
  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="curriculumDesignation">
        <th mat-header-cell *matHeaderCellDef> Обозначение учебного плана </th>
        <td mat-cell *matCellDef="let element"> {{element.curriculumDesignation}} </td>
      </ng-container>

      <ng-container matColumnDef="profileProgramSpecializationFocus">
        <th mat-header-cell *matHeaderCellDef> Профиль, программа, специализация, направленность  </th>
        <td mat-cell *matCellDef="let element"> {{element.profileProgramSpecializationFocus}} </td>
      </ng-container>

      <ng-container matColumnDef="nameOfStudy">
        <th mat-header-cell *matHeaderCellDef> Наименование учебной работы </th>
        <td mat-cell *matCellDef="let element"> {{element.nameOfStudy}} </td>
      </ng-container>

      <ng-container matColumnDef="kindTrainingLoad">
        <th mat-header-cell *matHeaderCellDef> Вид учебной нагрузки </th>
        <td mat-cell *matCellDef="let element"> {{element.kindTrainingLoad}} </td>
      </ng-container>

      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef> Курс </th>
        <td mat-cell *matCellDef="let element"> {{element.course}} </td>
      </ng-container>

      <ng-container matColumnDef="semestr">
        <th mat-header-cell *matHeaderCellDef> Семестр </th>
        <td mat-cell *matCellDef="let element"> {{element.semestr}} </td>
      </ng-container>

      <ng-container matColumnDef="strength">
        <th mat-header-cell *matHeaderCellDef> Чиленность </th>
        <td mat-cell *matCellDef="let element"> {{element.strength}} </td>
      </ng-container>

      <ng-container matColumnDef="numberGroups">
        <th mat-header-cell *matHeaderCellDef> Групп </th>
        <td mat-cell *matCellDef="let element"> {{element.numberGroups}} </td>
      </ng-container>

      <ng-container matColumnDef="numberSubgroups">
        <th mat-header-cell *matHeaderCellDef> Подгрупп </th>
        <td mat-cell *matCellDef="let element"> {{element.numberSubgroups}} </td>
      </ng-container>

      <ng-container matColumnDef="days">
        <th mat-header-cell *matHeaderCellDef> Дней </th>
        <td mat-cell *matCellDef="let element"> {{element.days}} </td>
      </ng-container>

      <ng-container matColumnDef="weeks">
        <th mat-header-cell *matHeaderCellDef> Недель </th>
        <td mat-cell *matCellDef="let element"> {{element.weeks}} </td>
      </ng-container>

      <ng-container matColumnDef="hours">
        <th mat-header-cell *matHeaderCellDef> Часов </th>
        <td mat-cell *matCellDef="let element"> {{element.hours}} </td>
      </ng-container>

      <ng-container matColumnDef="zet">
        <th mat-header-cell *matHeaderCellDef> ЗЕТ </th>
        <td mat-cell *matCellDef="let element"> {{element.zet}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

