<div>
  <mat-tab-group [disableRipple]="false" dynamicHeight="true">
    <mat-tab label="Студенты">
      <div class="bss-table">
        <bss-group></bss-group>
      </div>
    </mat-tab>
    <mat-tab label="Аудиторная">
      <div class="bss-table">
        <classroom-workload></classroom-workload>
      </div>
    </mat-tab>
    <mat-tab label="Внеаудиторная">
      <div class="bss-table">
        <out-of-class-workload></out-of-class-workload>
      </div>
    </mat-tab>
    <mat-tab label="Преподаватели">
      <div class="bss-table">
        <teachers></teachers>
      </div>
    </mat-tab>
    <mat-tab label="Аудиторная нагрузка">
      <div class="bss-table">
        <classroom-load></classroom-load>
      </div>
    </mat-tab>
    <mat-tab label="Внеаудиторная нагрузка">
      <div class="bss-table">
        <out-of-class-load></out-of-class-load>
      </div>
    </mat-tab>
    <mat-tab label="Аудиторная нагрузка (авто)">
      <div class="bss-table">
        <classroom-load-auto></classroom-load-auto>
      </div>
    </mat-tab>
    <mat-tab label="Доступная нагрузка">
      <div class="bss-table">
        <available-load></available-load>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
